jdbc.driver=com.mysql.cj.jdbc.Driver
jdbc.url=jdbc:mysql://127.0.0.1:3306/your_database_name
jdbc.username=your_username
jdbc.password=your_password

upload.maxFileSize=1024

os_type=win
#os_type=mac
file_save_location_win=c:/upload
file_save_location_other=/home/upload

naver.client.id=your_naver_client_id
naver.client.secret=your_naver_client_secret

spring.http.encoding.charset=UTF-8
spring.http.encoding.enabled=true
spring.http.encoding.force=true