<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.stock.mapper.StockMapper">

    <select id="selectAllStockCodes" resultType="String">
        SELECT stock_code FROM stock_codes
    </select>

    <insert id="upsertStock" parameterType="com.kb.stock.dto.StockDTO">
        INSERT INTO stocks (stock_code, stock_name, current_price, price_change, price_change_pct, high_price, low_price, opening_price, industry, volume, hts_avls, w52_hgpr, w52_lwpr)
        VALUES (#{stockCode}, #{stockName}, #{currentPrice}, #{priceChange}, #{priceChangePct}, #{highPrice}, #{lowPrice}, #{openingPrice}, #{industry}, #{volume}, #{htsAvls}, #{w52Hgpr}, #{w52Lwpr})
            ON DUPLICATE KEY UPDATE
                                 stock_name = VALUES(stock_name),
                                 current_price = VALUES(current_price),
                                 price_change = VALUES(price_change),
                                 price_change_pct = VALUES(price_change_pct),
                                 high_price = VALUES(high_price),
                                 low_price = VALUES(low_price),
                                 opening_price = VALUES(opening_price),
                                 industry = VALUES(industry),
                                 volume = VALUES(volume),
                                 hts_avls = VALUES(hts_avls),
                                 w52_hgpr = VALUES(w52_hgpr),
                                 w52_lwpr = VALUES(w52_lwpr)
    </insert>

    <select id="selectStockNameByCode" parameterType="String" resultType="String">
        SELECT sc.stock_name
        FROM stock_codes sc
        WHERE sc.stock_code = #{stockCode}
    </select>

</mapper>