<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.funds.mapper.SuikChartMapper">
    <insert id="insertSuikChart" parameterType="com.kb.funds.dto.SuikChartDTO">
        INSERT INTO suik_chart (fund_id, gijun_ymd, bm_suik_jisu, silh_suik_rt, seolj_aek)
        VALUES (#{fundId}, #{gijunYmd}, #{bmSuikJisu}, #{silhSuikRt}, #{seoljAek})
    </insert>

    <delete id="deleteSuikChartByFundId" parameterType="long">
        DELETE FROM suik_chart WHERE fund_id = #{fundId}
    </delete>

    <select id="findSuikChartsByFundId" parameterType="long" resultType="com.kb.funds.dto.SuikChartDTO">
        SELECT * FROM suik_chart WHERE fund_id = #{fundId}
    </select>
</mapper>
