<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.funds.mapper.SuikChartMapper">

    <select id="existsByFundIdAndGijunYmd" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM suikChart
        WHERE fundId = #{fundId}
          AND gijunYmd = #{gijunYmd}
    </select>

    <insert id="insertSuikCharts" parameterType="java.util.List">
        INSERT INTO suikChart (fundId, gijunYmd, bmSuikJisu, silhSuikRt, seoljAek, evaluationAmount, weight, category)
        VALUES
        <foreach collection="suikCharts" item="chart" separator=",">
            (#{chart.fundId}, #{chart.gijunYmd}, #{chart.bmSuikJisu}, #{chart.silhSuikRt}, #{chart.seoljAek}, #{chart.evaluationAmount}, #{chart.weight}, #{chart.category})
        </foreach>
        ON DUPLICATE KEY UPDATE
        bmSuikJisu = VALUES(bmSuikJisu),
        silhSuikRt = VALUES(silhSuikRt),
        seoljAek = VALUES(seoljAek),
        evaluationAmount = VALUES(evaluationAmount),
        weight = VALUES(weight),
        category = VALUES(category);
    </insert>

    <delete id="deleteSuikChartByFundId" parameterType="long">
        DELETE FROM suikChart WHERE fundId = #{fundId}
    </delete>

    <select id="findSuikChartByFundId" parameterType="long" resultType="com.kb.funds.dto.SuikChartDTO">
        SELECT * FROM suikChart WHERE fundId = #{fundId}
    </select>
</mapper>